pandas                              
statsmodels                     
numpy                               
scikit-learn                      
yfinance                             
matplotlib                          
streamlit                            
google.generativeai      
gtts                                      
plotly                                   